* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  body h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 15px;
}


.col-sm-6.contact-info p {
  margin-bottom: 20px;
}

  body {
    background: #f8fafc;
    font-family: 'Manrope';
  }

  section.footer {
    background: #06305d;
    color: #ffff;
    padding: 50px 0px 20px;
}

  /* ===== HEADER ===== */
  .header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  header.header img {
    width: auto;
    height: 65px;
    object-fit: cover;
}

.header .row {
    align-items: center;
    justify-content: center;
}

nav.nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}


  .nav a {
    color: #083568;
    text-decoration: none;
    /* margin-left: 20px; */
    font-size: 17px;
  }

  .header a.btn {
    display: flex;
    justify-content: end;
    border: 1.5px solid transparent;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px;
}

.header a.btn {
    display: flex;
    justify-content: end;
    border: 1.5px solid #F19833;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px 20px;
    background: #F19833;
    color: #fff;
    font-size: 17px;
}

  .nav a:hover {
    color: #f19833;
  }



  .menu-btn {
    font-size: 26px;
    cursor: pointer;
    display: none;
  }

  /* ===== MOBILE MENU ===== */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background: #020617;
    padding: 30px 20px;
    transition: left 0.3s ease;
    z-index: 2000;
  }

  .mobile-menu a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin: 20px 0;
  }

  .mobile-menu a:hover {
    color: #38bdf8;
  }

  .close-btn {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin-bottom: 30px;
  }

  section.footer img
  {
    width: auto;
    height: 65px;
    object-fit: cover;
    filter: brightness(0) invert(1) !important;
    margin-bottom:20px;
  }

  .footer ul li a {
    color: #fff !important;
    text-decoration: none;
}

  section.footer h2 {
    font-size: 22px;
    margin-bottom: 20px;
}


.footer ul {
    margin: 0px;
    padding: 0;
}

.footer ul li {
    list-style: none;
    margin-bottom: 7px;
}

ul.social {
    display: flex;
    gap: 15px;
}

.copiright {
  text-align: center;
}

.copiright p{
  margin:0px;
}


ul.social li {
    background: #f19833;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 58%;
}




.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 600px;
  margin: auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

.content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.content h1 {
  font-size: 58px;
  margin-bottom: 10px;
  font-weight: 600;
}

.content p {
  max-width: 600px;
  font-size: 20px;
  margin-bottom: 10px;
}

.content a {
  display: inline-block;
  padding: 12px 30px;
  background: #f19733;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.content a:hover {
  background: #f19733;
}


.formbtn {
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 8px;
  z-index: 2;
  background: #f19733;
  font-weight: 700;
}

.prev {
  left: 15px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next {
  right: 15px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: rgba(0,0,0,0.85);
}

.content {
  padding-top: 100px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  display: flex;
    gap: 10px;
}



/* ======contact fomr===== */

section.contact-section {
  padding: 60px 0px;
  position: relative;
}

section.contact-section i {
  background: #f19733;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  color: #fff;
}

section.contact-section h5 {
  display: flex;
  align-items: center;
}

.col-sm-6.contact-info {
  padding-right: 30px;
}

.contact-form {
  border-top: 5px solid #f19733;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 48px;
  background-color: #fff;
}


.col-sm-6.contact-info p a {
  color: #000;
  text-decoration: none;
}


.contact-form input.form-control {
  padding: 10px;
  background: transparent;
}



.contact-form textarea.form-control {
  background: transparent;
}

.next, .prev
 {
    display: none !important;
}


.splide__track{
  overflow: visible !important;
}

.splide__list{
  align-items: center;
}

/* Slider card */
.splide__slide{
  background:#fff;
  border-radius:12px;
  padding:30px 20px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  transition:all 0.4s ease;
  opacity:0.5;
  transform:scale(0.85);
}

/* Center slide */
.splide__slide.is-active{
  opacity:1;
  transform:scale(1);
  z-index:3;
}

span.quote {
  display: none;
}

/* Image */
.splide__slide img{
  width:80px;
  height:80px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:10px;
}

/* Name */
.splide__slide h4{
  margin:10px 0 5px;
  color:#222;
}

/* Stars */
.stars{
  color:#f5b50a;
  font-size:18px;
  margin-bottom:10px;
}

/* Text */
.splide__slide p{
  font-size:15px;
  line-height:1.6;
  color:#555;
}

/* Slider padding */
#testimonial-slider{
  padding:60px 0;
}


ul#testimonial-slider-list {
  margin-right: 75px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


  /* ===== RESPONSIVE ===== */
  @media (max-width: 768px) {
    .nav {
      display: none;
    }
    .menu-btn {
      display: block;
    }

    .header .col-sm-6 {
      display: none;
  }

  .butn {
    display: none;
}
.header .col-sm-3 {
  position: relative;
}

.menu-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: block;
}

.menu-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: block;
  color: #f3a433;
  font-size: 36px;
}

.content h1 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 600;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 400px;
  margin: auto;
  overflow: hidden;
}

.content {
 padding-top: 0px;
}

.next, .prev
 {
    display: none;
}

  }