/* header style css */

section.first_section.header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px 0px;
}

section.first_section.header .row {
    align-items: center;
}

section.first_section.header img {
    width: 75%;
}

ul.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.col-sm-3.butn_cls {
    border: 1px solid #000;
    padding: 10px;
    margin: auto;
    width: fit-content;
    border-radius: 3px;
}